<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="libraryDelegate" class="com.chaminda.library.delegate.LibraryDelegate">
        <property name="libraryService" ref="libraryServiceBean"/>
    </bean>

    <bean id="libraryServiceBean" class="com.chaminda.library.service.LibraryServiceImpl">
        <property name="libraryDao" ref="libraryDaoBean"/>
    </bean>

    <bean id="libraryDaoBean" class="com.chaminda.library.dao.LibraryDaoImpl"/>


    <!--context:component-scan base-package="com.chaminda.library" /-->


</beans>